*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradlew
gradlew.bat
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/vcs.xml
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

.idea/dictionaries/Muhammad.xml
app/build.gradle
.idea/inspectionProfiles/Project_Default.xml
.idea/dictionaries/sherif.xml
.idea
